/* Basic */
@import url("https://use.typekit.net/ovt6ynt.css");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Spectral:wght@200;300;400;500;600;700;800&display=swap");
/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
body, html {
    min-height: 450px;
    height: 100vh;
    margin: 0;  
    background: radial-gradient(ellipse farthest-corner at center top, #EDAFB8 0%, #9F405C 100%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}



div#leaderboard-content {
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;

    
}

h3 {
    font-size: 18px;
    color: #e1e1e1;
    padding: 12px 13px 18px;
  }

h1 {
    text-align: center;
    color: #f0f0f0;
}

.table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}



.rank-header, .score-header {
    font-weight: bold;
}

.rank-header{
    padding-left: 5px;
}

.score-header{
    padding-right: 5px;
}

/* Style for unselected tabs */
button[role="tab"] {
    background-color: #f0f0f0; /* Example color */
    border: none;
    padding: 10px;
    cursor: pointer;
}

/* Style for the selected tab */
button[role="tab"][aria-selected="true"] {
    background-color: #007bff; /* Example highlight color */
    color: white;
}


div #leaderboard-tabs {
    justify-content: center;
    display: flex;
    flex-direction: row;
 
}

div.container{
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    justify-content: center;
    align-items: center;
}

div.scores-container {
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px;
    
    justify-content: center;
    align-items: center;
}

ul{
    margin: 0;    
    padding: 0;
} 
/* CSS for the flex container */
.player-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between players */
    border-radius: 5px;
}
/* CSS for the flex box containing Rank and Name */
.flex-box.rank-name {
    display: flex;
    align-items: left;
    flex: 2;
    justify-content: left;
    max-width: 500px;
    max-height: 100px;
    padding: 10px;
    border-radius: 5px;
    .rank {
        margin-right: 5px;
    }
    
    .player {
        padding-left: 5px;
    }
}

.flex-box.score {
    
    max-width: 500px;
    max-height: 33px;
    padding: 10px;
    border-radius: 5px;
}


