.gif{
    background-image: url('bgImage.jpeg');
    background-size: cover;
    /* background-blend-mode: darken; */
    background-repeat: no-repeat;
    /* opacity: 0.65; */
    /* position: absolute; */

    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}



.gif h1{
    font-size: 75px;
    
}