*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gif{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('bgImage.jpeg');
    background-size: cover;
    background-color: #AEC6CF;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
}

nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    /* background-color: #526b58; */
}

.logo{
    height: 50px;
    width: 50px;
    /* opacity: 0.7; */
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 40px;
    position: relative;
}

nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #5a8668;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;
}

nav ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 17;
}

.gif h1{
    font-size: 75px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 380px;
    margin-top: 30px;
    margin-bottom: 100px;
    font-family: cursive;
    color: white;

}

.gif button{
    cursor: pointer;
    width: 10%;
    position: absolute;
    top: 7%;
    transform: translateY(0%);
    text-align: center;


    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #5a8668;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;

    position: relative;
    overflow:hidden;
}

span{
    background: #5a8668;
    height: 100%;
    width: 0;
    border-radius: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}


.gif button:hover span{
    width: 100%;
}

.gif button:hover{
    border: none;
}