.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-right: 10%;
}

.word-bank {
    width: 200px; 
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    
}

.word-bank h2 {
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.word-bank ul {
    list-style-type: none;  
    padding: 10%;             
    margin: 0;      
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: x-large;       
}

table {
    width: 100%;
    border: 1px solid;
    
}

