body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-color: #d5bdc1;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/lobbybgoption1.png'); /* Add linear gradient for darkness */
    background-size: cover;
    background-blend-mode: multiply; /*Set blend mode to multiply for darkening effect*/
}
#splash-screen, #HTW-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  #splash-content, #HTW-content {
    text-align: center;
    border-radius: 10px;
    border: solid #bc8942; /* Add border style as well */
    border-width: 5px;
    background-color: #e6e6e6;
    margin: 10px;
  }
  #HTW-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #splash-content h2{
    margin: 10px;
    font-family: cursive;
    color: #bc8942;
  }
  #HTW-content p1{
    margin: 10px;
    font-family: cursive;
    color: #bc8942;
    font-size: 30px;
  }
  #HTW-content p{
    margin: 5px;
    font-family: cursive;
    color: #bc8942;
    font-size: 15px;
  }

  #splash-content button, #splash-content input[type="text"], #HTW-content button{
    margin: 10px;
    font-family: cursive; /* Set the same font as the h2 */
    color: #bc8942; /* Set the same color as the h2 */
    border: solid #bc8942;
    border-radius: 10px;
    border-width: 2px;
    padding: 5px;
    cursor: pointer;
  }
  #HTW-content button{
    width: 50px;
  }
  
  #splash-screen.hidden {
    display: none;
  }
  #HTW-screen.hidden{
    display: none;
  }

#outer-lobby-container {  /* Holds everything that you see */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: 700px;
    gap: 15px
   /* background-color: #e6e6e6; /* Background color for the lobby flexbox */
}


#lobby-container {  /* Holds everything that you see */
    flex-grow: 1; /* Make the flexbox take up the remaining space */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Background color for the lobby flexbox */
    min-width: 0;
}


#lobby-title {
    display: flex;
    /* border-radius: 10px;
    border: solid black; /* Add border style as well */
    /*border-width: 2px;*/
    /*background-color: #e6e6e6;
    /*background-color: #ff9999; /* Gonna just be Wordsearch!*/
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: center;
}
#lobby-title-info{
    
    margin-left: 0;
    font-family: cursive;
    font-size: 60px;
    color: white;
    white-space: nowrap;
}

#lobby-playerlistandsettings {
    /*background-color: #99ff99;  Holds player list and settings for host*/
    border-radius: 10px;
    border: solid #bc8942; /* Add border style as well */
    border-width: 5px;
    background-color: #e6e6e6;
    width: 100%;
    height: 60%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
#host-settings-buttons{
    display: flex;
    /*background-color: #4da64d; */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
#word-search-grid {
    /*border: 1px solid #000;*/
    display: grid;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow flex items to wrap to the next line if needed */
    max-width: 100%; /* Limit the maximum width to the size of the flex box */
    font-family: Arial, Helvetica, sans-serif; /*should probably change */
    /*overflow: auto;*/
    padding: 5px 25px 5px 33px;
}
.row{
    display: flex;
    width: 100%;
}
.cell {
    /*border: 1px solid #000;*/
    width: 33px; /* Adjust the width and height based on your design */
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Add more styling for the cells */
}
[data-special-cell="themes"] {
    background-color: #9F405C;
    cursor: pointer;
    font-weight: bold;
    /* other CSS styles */
}
[data-special-cell="start"] {
    background-color: #A77442;
    cursor: pointer;
    font-weight: bold;
    /* other CSS styles */
}
[data-special-cell="how-to-win!"] {
    background-color: #52709d;
    cursor: pointer;
    font-weight: bold;
    /* other CSS styles */
}
[data-special-cell="settings"] {
    background-color: rgb(155, 155, 153);
    cursor: pointer;
    font-weight: bold;
    /* other CSS styles */
}
.brighten {
    filter: brightness(1.2); /* Lightens the background color */
}


#player-list-box{
    
    flex-grow: 1; /* Make the flexbox take up the remaining space */
    margin: 0; /* Remove any margin */
    padding: 0; /* Remove any padding */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background-color: #176217;*/
    width: 30%;
    height: 70%;
    gap: 7px;
}
#player-list-title{
    border-radius: 10px;
    /*border: solid black; /* Add border style as well */
    border-width: 2px;
    /*background-color: #e6e6e6;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10%;
    font-family: cursive;
    font-size: 40px;
    color: white;

}
#player-list-container{
    border-radius: 10px;
    border: solid #bc8942; /* Add border style as well */
    border-width: 5px;
    background-color: #e6e6e6;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.player-box{
    background-color: #9292c4;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.player-box p{
    font-family: cursive;
    font-size: 20px;
    margin: 5px;
}
#selected-theme-container{
    border-width: 2px;
    background-color: #e6e6e6;
    width: 100%;
     border-radius: 10px;
    border: solid #bc8942;
    border-width: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.selected-theme-text{
    font-family: cursive;
    font-size: 20px;
    margin: 5px;
    color: #bc8942;
    white-space: nowrap;
}

#lobby-sharecode {
    flex-grow: 1;
     /* Holds game code and a button to copy to clipboard */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#game-code-box, #game-link-box{
    padding: 10px;    
    border-radius: 50px;
    text-align: center;
    border-radius: 10px;
    border: solid #bc8942; /* Add border style as well */
    border-width: 5px;
    background-color: #e6e6e6;
}
#game-code-box{
    width: 40%;
    height: 100%;
    display: flex;
    flex-grow:1;
    align-items: center;
    overflow: hidden;

}
#game-link-box{
    width: 60%;
    height: 100%;
    display: flex;
    flex-grow:1;
    align-items: center;
    overflow: hidden; /* Hide any content that overflows the box */

}
#share-link, #game-code {
    width: 95%;
    height: 100%;
    font-family: cursive;
    font-size: 14px;
    margin: 5px;
    color: #bc8942;
    overflow: auto; /* Add a horizontal scroll bar when the content overflows */
    white-space: nowrap; /* Prevent wrapping of text */
  }
  #share-link::-webkit-scrollbar {
    width: 1px; /* Adjust the width of the scrollbar */
    height: 7px;
  }
  
  #share-link::-webkit-scrollbar-track {
    background: #f1f1f1; /* Adjust the background color of the track */
  }
  
  #share-link::-webkit-scrollbar-thumb {
    background: #bc8942; /* Adjust the color of the scrollbar */
  }
  
  #share-link::-webkit-scrollbar-thumb:hover {
    background: #976f32; /* Adjust the color when hovering over the scrollbar */
  }

#share-link-copy-button,
#game-code-copy-button {
    /* background-image: url('cpiconblack.png'); */
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  #share-link-copy-button:hover, #game-code-copy-button:hover {
    filter: brightness(.5); /* Adjust this value to control the brightness */
}
  #lobby-invite-prompt {
    display: flex;
    margin: 0px;
    width: 100%;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;    
    border-radius: 50px;
    text-align: center;
   
}
  #lobby-invite-text{
    margin-left: 0;
    font-family: cursive;
    font-size: 25px;
    color: white;
    white-space: nowrap;
  }
  